:root {
  --neutral: #EFEFFF;
  --background: #211D28;
  --black: #000000;
  --white: #FFFFFF;

  --primary-100: #0000DC;
  --primary-200: #4000F3;
  --primary-300: #6218FF;
  --primary-400: #7F35FF;
  --primary-500: #9A4DFF;
  --primary-600: #B563FF;
  --primary-700: #CF7AFF;
  --primary-800: #E990FF;
  --primary-900: #FFA7FF;

  --secondary-100: #940085;
  --secondary-200: #AC009A;
  --secondary-300: #C400B0;
  --secondary-400: #DD00C6;
  --secondary-500: #F600DD;
  --secondary-600: #FF2DF4;
  --secondary-700: #FF4FFF;
  --secondary-800: #FF6CFF;
  --secondary-900: #FF86FF;

  --tertiary-100: #004477;
  --tertiary-200: #00578C;
  --tertiary-300: #006AA1;
  --tertiary-400: #007EB7;
  --tertiary-500: #0093CD;
  --tertiary-600: #00A8E4;
  --tertiary-700: #00BEFB;
  --tertiary-800: #3BD4FF;
  --tertiary-900: #5EEBFF;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

h6 {
  font-size: 1.25rem;
  font-weight: 700;
}

subtitle {
  font-size: 1rem;
  font-weight: 500;
}

body {
  font-size: 1rem;
  font-weight: 400;
}

body.small {
  font-size: 0.875rem;
  font-weight: 400;
}

body.large {
  font-size: 1.125rem;
  font-weight: 400;
}

button {
  font-size: 1rem;
  font-weight: 700;
}

button.small {
  font-size: 0.875rem;
  font-weight: 700;
}

button.large {
  font-size: 1.125rem;
  font-weight: 700;
}

caption {
  font-size: 0.75rem;
  font-weight: 400;
}